---
import "./color-scheme.css";
import "./theme.css";
import "./main.css";

import { NumberDie } from "../components/die/number-die";
import { TextDie } from "../components/die/text-die";
import LanguageSelector from "../components/language-selector/language-selector.astro";
import { ThemeSelector } from "../components/theme-selector/theme-selector";
import ShareMeta from "./share-meta.astro";
import { isServerSide } from '../helpers/utilities.ts'

import { pwaInfo } from 'virtual:pwa-info';

interface Props {
    title: string
}

const { title } = Astro.props

const baseHost = import.meta.env.PROD
	? import.meta.env.SITE
	: new URL(Astro.request.url).origin

if (isServerSide()) {
	Astro.response.headers.set('Accept-CH', 'Sec-CH-Prefers-Color-Scheme');
	Astro.response.headers.set('Vary', 'Sec-CH-Prefers-Color-Scheme');
}

const initialPreference =
	isServerSide() ? Astro.request.headers.get('Sec-CH-Prefers-Color-Scheme') as 'dark' | 'light' : undefined
	?? 'no-preference';

const initialTheme = !Astro.cookies.has('theme')
	? 'auto'
	: Astro.cookies.get('theme').value as 'auto' | 'dark' | 'light';
---

<html lang="en" data-theme={initialTheme}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
		<meta name="generator" content={Astro.generator} />
		<meta name="color-scheme" content="light dark" />
		<meta id="android-theme-color" name="theme-color" content="#f4f4f4" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta id="apple-theme-color" name="apple-mobile-web-app-status-bar-style" content="#f4f4f4" />
		<ShareMeta />
		<title>Five dice - {title}</title>
		<link rel="canonical" href={baseHost + import.meta.env.BASE_URL} />
		<base href={baseHost + import.meta.env.BASE_URL} />
		{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
	</head>
	<body>
		<header>
			<div class="header-contents">
				<h1 aria-label="Five dice">
					<a href={baseHost + import.meta.env.BASE_URL} title="Five dice" tabindex="0">
						<NumberDie amount={5} description="Five"/>
						<TextDie value="D" /><TextDie value="i" /><TextDie value="c" /><TextDie value="e" />
					</a>
				</h1>
				<nav role="menubar">
					<!-- https://github.com/Marvin-Brouwer/five-dice/issues/55 -->
					<ul>
						<li><LanguageSelector value="en" /></li>
						<li><ThemeSelector client:load initialTheme={initialTheme} initialPreference={initialPreference} /></li>
					</ul>
				</nav>
			</div>
		</header>
		<slot />
		{ pwaInfo?.registerSW && <Fragment set:html={pwaInfo.registerSW.registerPath} /> }
	</body>
</html>
